/* Base de formatos para el html */
html {
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    line-height: 1.5;
}

/* Color de fuente principal */
body {
    color: #C62E2E;
}

/* Definiendo el contenedor principal */
#oracle {
    background-color: #E4DCCF;
    padding: 8rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    height: 100vh;
}

#oracle header {
    margin-bottom: 4rem;
}

#contenido {
    max-width: 50rem;
}

h2 {
    margin: 1rem 0;
    font-size: 2.25rem;
}

.muted {
    color: #434242;
}

.large {
    font-size: 1.125rem;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.iconos {
    width: 45px;
    height: 45px;
}

h3 {
    font-size: 1rem;
}

#media video {
    border-radius: 1rem;
    border: 1px solid #637373;
    object-fit: cover;
}